.btn{
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #333;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    border-radius: 6px;
    outline: none;
}
.btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

.circle{
    margin: 10px;
    border-radius: 50%;
    display: block;
}
.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
}