@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
.parallax {
    background-attachment: fixed;
}

body {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.nav {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    margin: 0;
    padding: 0;
}

.list--row {
    flex-direction: row;
}

.list--column {
    flex-direction: column;
}

.list__item {
    list-style: none;
    margin-right: 30px;
}

.list>.list__item:last-child {
    margin-right: 0;
}

.list__item__link {
    font-size: 15px;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.list__item__link:hover {
    color: #14B9D5;
}

.logo-wrapper {
    padding-left: 27px;
}

.logo__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

.image-wrapper {
    height: 27px;
    padding-right: 27px;
}

.logo-image {
    height: 100%;
}

.header {
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/header-bg.jpeg);
    background-position: center -500px;
}

.header-image {
    padding-top: 135px;
    padding-bottom: 65px;
    box-sizing: border-box;
}

.info-wrapper {
    display: block;
    margin: auto;
}

.headline {
    font-size: 27px;
    line-height: 37px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.headline--small {
    font-size: 18px;
    color: #353A3D;
    line-height: 25px;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.header-image__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    cursor: pointer;
    padding: 20px;
    margin: 10px 10px;
    min-width: 170px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.search {
    font-size: 17px;
}

.search-btn {
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    padding: 26px;
    color: #fff;
    background-color: #000;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background-color: #fff;
    margin-bottom: 30px;
}

.column {
    min-width: 370px;
}

.card-item__image-wrapper {
    box-sizing: border-box;
    width: 100%;
}

.card-item__image {
    display: block;
    width: 100%;
}

.brand-bg {
    background-image: url(../img/section-bg.jpeg);
    background-position: center 1100px;
    padding-top: 100px;
    padding-bottom: 150px;
    box-sizing: border-box;
}

.brand-list {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    margin: auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.line {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    margin: 50px 0;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.image-item {
    height: 100%;
    width: 100%;
}

.text--logo {
    padding: 0;
    margin: 0;
}

.text--description {
    margin: 0;
    padding: 0;
    line-height: 21px;
    font-size: 14px;
    color: #5B6469;
}

.text--copyright {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 100%;
    font-weight: 400;
}

.news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.news-item {
    text-decoration: none;
    grid-column: 2 span;
    background-color: #F9F7F7;
}

.news__image-wrapper {
    width: 100%;
}

.news__image {
    object-fit: cover;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 24px;
}

.long-element-bottom,
.long-element-top {
    text-decoration: none;
    display: flex;
    background-color: #F9F7F7;
}

.long-element-top {
    grid-column: 1/4;
}

.long-element-bottom {
    grid-column: 2/5;
}

.long-element-top .news__image-wrapper,
.long-element-top .news__image,
.long-element-bottom .news__image-wrapper,
.long-element-bottom .news__image {
    min-width: 485px;
    height: 100%;
}

.short-element-top,
.short-element-bottom {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.short-element-top {
    grid-column: 4/5;
}

.short-element-bottom {
    grid-column: 1/2;
}

.footer {
    margin-top: 80px;
    background-color: #000;
    color: #fff;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.big {
    font-size: 32px;
}

.blue {
    background-color: #14B9D5;
}

.green {
    background-color: #89CA62;
}

.grey {
    background-color: #F2F2F2;
}

.blue-text {
    color: #14B9D5;
}

.text--align--right {
    text-align: right;
}

.anchor-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: inset 0 -5px 5px #f2f2f2;
}

.anchor__list {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor__item {
    padding: 0 15px;
    list-style: none;
}

.anchor__link {
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
}

.to-top {
    position: fixed;
    z-index: 1;
    right: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #333;
}