@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./reset.css";

body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.heading{
    margin: 25px 0;
    font-size: 45px;
    font-weight: bold;
}
.price-container-js{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    min-height: 47px;
    border-top: 1px solid #e1e4e8;
    border-bottom: 1px solid #e1e4e8;
}
.price{
    display: flex;
    font-size: 22px;
    color: #7d7d7d;
    border-radius: 25px;
    padding: 5px 5px 5px 15px;
    margin: 5px;
    border: 1px solid #7d7d7d;
}
.btn--remove{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7d7d7d;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 10px;
    outline: none;
    height: 25px;
    width: 25px;
}
.btn--remove::before,
.btn--remove::after{
    content: "";
    display: block;
    position: absolute;
    height: 60%;
    width: 2px;
    background-color: #7d7d7d;
}
.btn--remove::before{
    transform: rotate(45deg);
}
.btn--remove::after{
    transform: rotate(-45deg);
}
.wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.input{
    margin: 5px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    width: 100px;
    padding: 5px;
    font-weight: bold;

}
.input--success{
    box-shadow: 0 0 0 0.25rem rgb(60, 153, 110, 0.5);
}
.input--danger{
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}