@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./reset.css";

body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
.heading{
    font-size: 36px;
    padding: 20px 0;
}
.heading--medium{
    font-size: 24px;
}
.list__wrapper{
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}
.list{
    margin-left: 25px;
}
.list__item{
    list-style: disc;
    font-size: 18px;
}
.timer{
    text-align: center;
    font-size: 50px;
    padding: 25px 0;
}