@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
.theme--light {
    --color-bg: #fff;
    --text-color: #434343;
    --bored-color: #333;
    --bored-color-reverse: #f2f2f2;
}

.theme--dark {
    --color-bg: #333;
    --text-color: #fff;
    --bored-color: #2f2f2f;
    --bored-color-reverse: #f2f2f2;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--color-bg);
    color: var(--text-color);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.login-page {
    min-height: 100vh;
}

.logo__name {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
}

.nav-wrapper {
    background: #333;
    border-bottom: 3px solid var(--bored-color);
}

.navigation {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.wrapper-links {
    display: flex;
}

.nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding-right: 27px;
}

.nav__list::after {
    content: "";
    height: 19px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
}

.nav__item {
    list-style: none;
    font-size: 14px;
    line-height: 14px;
    padding-right: 25px;
}

.nav__link:hover path {
    fill: #3cb878;
}

.nav__login-signup {
    display: flex;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

.signup-wrapper {
    display: flex;
    padding-top: 35px;
    padding-bottom: 72px;
}

.signup {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    border-radius: 6px;
    border: 3px solid var(--bored-color-reverse);
    padding: 30px 60px 38px 60px;
}

.signup__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.signup__title::before {
    left: -60px;
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.signup__heading {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.signup__link {
    font-size: 14px;
    line-height: 14px;
}

.btn {
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 16px 0;
    border-radius: 4px;
}

.btn:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.signup__buttons {
    display: flex;
    justify-content: space-between;
}

.signup__buttons>.btn:not(:last-child) {
    margin-right: 8px;
}

.btn--facebook {
    background: #305db8;
}

.btn--facebook:hover {
    background-color: #022263;
}

.btn--google {
    background: #df4a32;
}

.btn--google:hover {
    background: #ab1f09;
}

.btn--google,
.btn--facebook {
    text-align: right;
    box-sizing: border-box;
    min-width: 160px;
    padding-left: 50px;
    padding-right: 25px;
    position: relative;
    margin-bottom: 15px;
}

.btn--google::before,
.btn--facebook::before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 7px;
}

.btn--google::before {
    border-right-color: rgba(42, 13, 9, 0.1);
    content: url(../img/google.svg);
}

.btn--facebook::before {
    border-right-color: rgba(10, 22, 47, 0.1);
    content: url(../img/facebook.svg);
}

.delimeter {
    margin: 15px 0;
    text-align: center;
    position: relative;
}

.delimiter__text {
    position: relative;
    z-index: 1;
    padding: 0 2px;
    color: var(--text-color);
    background-color: var(--color-bg);
}

.delimeter::after {
    position: relative;
    top: -7px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
}

.signup__agree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
}

.input {
    padding: 15px 20px;
    border: 2px solid var(--bored-color-reverse);
    border-radius: 4px;
    background-color: var(--color-bg);
    color: var(--text-color);
}

.input:not(:nth-child(5)) {
    margin-bottom: 15px;
}

.input:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input--checkbox {
    display: none;
}

.input--checkbox+label::before {
    cursor: pointer;
    display: inline-block;
    content: "";
    border: 1px solid #f2f2f2;
    width: 18px;
    height: 18px;
}

.input--checkbox:checked+label::before {
    background-image: url(../img/checked.svg);
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
}

.input--submit {
    background-color: #3cb878;
}

.input--submit:hover {
    background: #01813f;
}

.text-hover--green:hover {
    color: #3cb878;
}

.text--hover--green-underline:hover {
    color: #3cb878;
    text-decoration: underline;
}

.text--link {
    text-decoration: none;
    color: inherit;
}

.text--signup {
    color: var(--text-color);
}

.text--green {
    color: #3cb878;
}

.switch-theme {
    box-sizing: border-box;
    box-shadow: inset 0 0 0 3px #232323;
    width: 40px;
    height: 18px;
    border-radius: 10px;
    position: relative;
}

.switch-btn {
    position: absolute;
    transition: ease-in-out .2s;
    top: -2px;
    left: -2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.change--theme {
    left: calc(100% - 20px);
}