body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    border: 2px solid #333;
    width: 500px;
    overflow: hidden;
}

.slides {
    transition: ease .5s;
    width: 100%;
    display: flex;
    height: 400px;
}

.slide {
    width: 100%;
    object-fit: cover;
}

.slider-wrapper>.fa {
    z-index: 1;
    cursor: pointer;
    padding: 15px;
    color: #fff;
    position: absolute;
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.fa-chevron-right {
    right: 0;
}

.fa-chevron-left {
    left: 0;
}

.btn {
    cursor: pointer;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 20px 30px;
}

.timer {
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
}